version: '3.7'

services:
    
    db:
        image: postgres:12.2-alpine
        volumes:
        - postgres_data:/var/lib/postgresql/data/
        environment:
        - POSTGRES_USER=root
        - POSTGRES_PASSWORD=password
        - POSTGRES_DB=posdb_prod
        env_file:
        - .env
    
    web:
        image: "${WEB_IMAGE}"
        command: gunicorn djangoposactivity.wsgi:application --bind 0.0.0.0:8000
        volumes:
            - static_volume:/usr/src/app/staticfiles
        expose:
            - 8000:8000
        env_file: .env
        depends_on: 
            - db
            
    nginx:
        image: "${NGINX_IMAGE}"
        volumes:
            - static_volume:/usr/src/app/staticfiles
        ports:
            - 80:80
        depends_on:
            - web

volumes:
    postgres_data:
    static_volume: