version: '3.7'

services:
    web:
        build: 
            context: ./app
            dockerfile: Dockerfile.prod
            cache_from:
                - "${WEB_IMAGE}"
        image: "${WEB_IMAGE}"
        command: gunicorn djangoposactivity.wsgi:application --bind 0.0.0.0:8000
        volumes:
        - static_volume:/usr/src/app/staticfiles
        expose:
        - 8000
        env_file:
        - .env
        depends_on:
        - db
    db:
        image: postgres:12.2-alpine
        volumes:
        - postgres_data:/var/lib/postgresql/data/
        environment:
        - POSTGRES_USER=root
        - POSTGRES_PASSWORD=password
        - POSTGRES_DB=posdb_prod
        env_file:
        - .env
    
    nginx:
        build: 
            context: ./nginx
            cache_from: 
                - "${NGINX_IMAGE}"
        image: "${NGINX_IMAGE}"
        ports:
            - 1337:80
        volumes:
            - static_volume:/usr/src/app/staticfiles
        depends_on:
          - web

volumes:
    postgres_data:
    static_volume: